#dashboard{

}
#dashboard .menu {
    background:#484b4c;
    color: white;
    padding: 0;
}
#dashboard .menu h3 {
    border-bottom: 1px white solid;
    margin: 0px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
#dashboard .menu ul{
    padding: 0;
}
#dashboard .menu ul li {
    list-style: none;
    padding: 5px 0px 5px 20px;
    transition: transform 2s;
    -webkit-transition: transform 2s;
}
#dashboard .menu ul li:hover {
    background:#d1bb8d;
    cursor: pointer;

}
#dashboard .menu ul li a {
    color: white;
    text-decoration: none;
}
.sidebar-header {
    margin-top: 20px;
}
.sidebar-header img{
    border-radius: 50%;
}
.breadcome-list {
    margin-top: 20px;
}
.mgTop {
    margin-top: 50px;
}
.nalika-profile {
    padding: 0 !important;
}
.comment-scrollbar {
    margin-top: 35px;
}
.footer-copyright-area {
    position: fixed;
    width: 100%;
    margin-bottom: 0px;
    height: 100px;
}
form .form-control {
    background: #b3d4fc !important;
}
.form-group input {
    border: 1px solid #1B2A47 !important;
}
.breadcome-list h2{
    color: #1B2A47 !important;
}
.element p{
    font-size: 50px !important;
    color: #1b2a47;
    margin: 0px 20px 0px 20px !important;
}
@media (min-width: 1200px) {
    .element {
        width: 1605px;
    }

}
.element {
    display: inline-block;
    background-color: #0074d9;
    height: 100px;
    line-height: 100px;
    color: white;
    text-align: center;
    opacity: .7;
    font-family: Verdana, sans-serif;
    border: 3px solid rgba(0,0,0,.3);
    /*margin-bottom: 30px;*/
}

.one {
    transform: rotateX(40deg);
    animation: one 2s infinite;
    animation-direction: alternate;
}

.two {
    transform: rotateY(40deg);
    animation: two 2s infinite;
    animation-direction: alternate;
    background-color: #831a4a;
}

.three {
    transform: rotateZ(100deg);
    animation: three 2s infinite;
    animation-direction: alternate;
    background-color: #439772;
}

@keyframes one {
    0% {
        transform: rotateX(0);
    }
    100% {
        transform: rotateX(50deg);
    }
}
.scroll {
    overflow: scroll;
    height: 710px;
}