.divShow {
    margin-top: 20px;
}

.member {
    color: green;
}

.optionI {
    color: red;
    font-size: 20px;
    cursor: pointer;
}

.form-inline select:first-child {
    width: 500px;
}
p{
    color: black !important;
}
b {
    color: green;
}

/*.none {
    display: none !important;
}*/
