.divShow {
    margin-top: 20px;
}

.member {
    color: green;
}

.optionI {
    color: red;
    font-size: 20px;
    cursor: pointer;
}

.form-inline select:first-child {
    width: 500px;
}
p{
    color: black !important;
}
b {
    color: green;
}

.correct {
    color: #0E993C;
    width: 150px;
}
.wrong {
    color: #ff0419;
    width: 150px;
}
.dupplicate {
    border: 1px red solid !important;
}
.flash-message {
    margin-bottom: 15px !important;
}

@media screen and (max-width: 786px) {
    .mobile-menu {
        display: none;
    }
}
.delRow:hover {
    cursor: pointer;
}

