/*#sidebar-wrapper {
    background:url("../images/portfolio-1.jpg") !important;
}*/
#header {
    margin:0 auto;
}

#header h2 {
    margin: 10px auto;
}

.container-fluid {
    margin-top: -20px;
}

.bg_panel {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-group-item {
    color: #3765ff !important;
}

@media (min-width: 1200px) {
    #sidebar-wrapper {
        width: 250px;
    }
    .list-group-item {
        width: 220px;
    }
    .list-group h3 {
        width: 220px;
    }
}